@import '@scss/utils/_fonts';
@import '@scss/utils/_var';

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;


  #app {
    width: 100vw;
    height: 100vh;
    // background: #fff;
    background: #000;
  
    .char,
    .word {
      will-change: transform;
    }
    
    .title {
      margin: 0;
    
      &__up,
      &__down {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      
        cursor: pointer;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 3rem;
        // color: #000;
        color: #fff;
        position: absolute;
        font-family: 'Nineties';
        letter-spacing: 2px;
      }
    }
  
    .controls {
      width: auto;
      outline: none;
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem 1rem;
    
      &__cta {
        opacity: 0;
        cursor: pointer;
        z-index: 4;
        position: relative;
        
        border: none;
        margin: 0;
        padding: 0;
        // width: auto;
        width: 110px;
        height: 20px;
        overflow: hidden;
        text-align: center;
        background: transparent;
  
        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;
    
        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
    
        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;

        &__up,
        &__down {
          position: absolute;
        
          cursor: pointer;
          overflow: hidden;
          text-transform: uppercase;
          font-size: 3rem;
          // color: #000;
          color: white;
          left: 1rem;

          font-family: 'Nineties';
          font-size: 1.25rem;
          // transform: translateY(5px);
          top: 0;
          // bottom: 0;

          // transition: all ease-out 100ms;
        }

        &__up {
          // top: -25px;
        }

        &__down {
          // bottom: 25px;
        }

        .is-active &__up {
          transform: translateY(-7px);
        }

        .is-active &__down {
          transform: translateY(7px);
        }
      }
    }
  
    canvas.webgl {
      position: fixed;
      top: 0;
      left: 0;
      outline: none;
      z-index: 0;
    }
  }
}


// external css
canvas.analysis {
	position: fixed;
	bottom: 0;
	right: 0;
  left: unset;
  top: unset;
	outline: none;
	z-index: 9999;
}

.dft-hide {
  opacity: 0;
  display: none;
  transition: opacity ease-out 400ms;
}

.tp-dfwv {
  min-width: 300px;
}