@import '@scss/utils/_fonts';
@import '@scss/utils/_var';

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

#app {
	width: 100vw;
	height: 100vh;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: 0;
}

.analysis {
	position: fixed;
	bottom: 0;
	right: 0;
  left: unset;
  top: unset;
	outline: none;
	z-index: 9999;
}

.controls {
  position: fixed;
	bottom: 10px;
	left: 10px;
	outline: none;
	z-index: 1;

  &__cta {
    opacity: 1;
  }
}


.dft-hide {
  opacity: 0;
  // visibility: hidden;
  display: none;
  transition: opacity ease-out 400ms;
}